body {
   background-color: #000000;
   background-image: url(http://www.transparenttextures.com/patterns/3px-tile.png);
   color: azure;
   text-align: center;
}

.scoreboard {
   border: 5px double #222;
   border-radius: 3px;
   width: 40%;
   margin: 3% auto;
}

img {
   width: 10%;
   height: 10%;
}

input {
   z-index: -999;
   position: fixed;
}


